* {
    margin: 0px;
    padding: 0px;
}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1480px;
    }
}


[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.bg_green {
    background-color: $green;
}

.bg_green2 {
    background-color: $green2;
}

.bg_green3 {
    background-color: $green3;
}

.bg_green_light {
    background-color: $green_light;
}

.bg_green_dark {
    background-color: $green_dark;
}

.bg_green_off {
    background-color: $green_off;
}

.bg_purple {
    background-color: $purple;
}

.bg_purple_light {
    background-color: $purple_light;
}

.bg_sky {
    background-color: $sky;
}

.bg_sky2 {
    background-color: $sky2;
}

.bg_sky_light {
    background-color: $sky_light;
}

.bg_pink {
    background-color: $pink;
}

.bg_orange {
    background-color: $orange;
}

.bg_orange_light {
    background-color: $orange_light;
}

.bg_peach {
    background-color: $peach;
}

.bg_peach_light {
    background-color: $peach_light;
}

.bg_peach_dark {
    background-color: $peach_dark;
}

.bg_blue {
    background-color: $blue;
}

.bg_blue_dark {
    background-color: $blue_dark;
}

.chip {
    border: 4px solid $black;
    border-radius: 20px;
    padding: 10px 2px;
    box-shadow: rgba(0, 0, 0, 4.15) 4px 4px 0.6px;
    text-align: center;
    color: #000;
}

.btn {
    // border: 4px solid $black;
    border-radius: 8px;
    padding: 6px 55px;
    color: $black;
    // box-shadow: rgba(0, 0, 0, 4.15) 4px 4px 0.6px;
    // filter: drop-shadow(6px 8px 11px rgba(0, 0, 0, 0.5));

    &.green-btn {
        background: $green;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1rem;
        position: relative;

        @include devices(xl) {
            font-size: 0.8rem;
            @include padding-x(50px, 50px);
        }

        @include devices(lg) {
            @include padding-x(40px, 40px);
        }

        @include devices(md) {
            font-size: 1rem;
            @include padding-x(50px, 50px);
        }

        @include devices(xs) {
            font-size: 0.9rem;
            @include padding-x(30px, 30px);
        }


        &::after {
            @include pseudo($content: "", $top: -15px, $left: auto, $width: 50px, $height: 25px);
            background-image: url(../images/plane.png);
            background-repeat: no-repeat;
            background-size: contain;

            @include devices(xl) {
                width: 30px;
            }
        }
    }

    &.sky-btn {
        background: $sky;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
    }

    &.sky-btn-light {
        background-color: $sky_light;
        text-transform: uppercase;
        font-size: 18px;
    }

    &.orange-btn-light {
        background-color: $orange_light;
        text-transform: uppercase;
        font-size: 18px;
    }

    &.orange-btn {
        background: $orange;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
    }

    &.perple-btn {
        background: $purple;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;

        &.claim-btn {
            position: relative;

            font-size: 1rem;
            font-weight: bold;

            @include devices(xl) {
                font-size: 0.8rem;
                @include padding-x(50px, 50px);
            }

            @include devices(lg) {
                @include padding-x(40px, 40px);
            }

            @include devices(md) {
                font-size: 1rem;
                @include padding-x(50px, 50px);
            }

            @include devices(xs) {
                font-size: 0.9rem;
                @include padding-x(30px, 30px);
            }

            &::after {
                @include pseudo($content: "", $top: -48px, $left: auto, $width: 65px, $height: 65px);
                right: -22px;
                background-image: url(../images/spark.svg);
                background-repeat: no-repeat;
                background-size: contain;

                @include devices(xl) {
                    top: -35px;
                    right: -10px;
                    @include dimension(50px, 50px);
                }

                @include devices(lg) {
                    top: -32px;
                    @include dimension(45px, 45px);
                }

                @include devices(xs) {
                    top: -22px;
                    @include dimension(35px, 35px);
                }
            }
        }

    }
}

.cp {
    @include padding-y(7rem, 7rem)
}

.divider {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.5);
}

h2.title_h2 {
    color: #1e1b15;
    font-size: 40px;
    font-weight: 600;

    @include devices(xl) {
        font-size: 2rem;
    }

    @include devices(sm) {
        font-size: 1.7rem;
    }
}

.site-title {
    color: #1e1b15;
    font-size: 40px;
    font-weight: bold;

    @include devices(sm) {
        font-size: 30px;
    }

    @include devices(xs) {
        font-size: 1.7rem;
    }
}

.social_links {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 2rem;

    @include devices(xl) {
        padding-bottom: 1.5rem;
        gap: 1.5rem;
    }

    a {
        transition: transform 0.3s;

        img {
            width: 40px;

            @include devices(xl) {
                width: 30px;
            }

            @include devices(xs) {
                width: 26px;
            }
        }

        &:hover {
            transform: translateY(-4px);
        }
    }
}

.overflow_hide {
    overflow: hidden;
}

.services-template {
    background-image: url(../images/abstract.jpg);
    @include bg-cover();
}

.swiper {
    width: 100%;
    height: auto;
    user-select: none;
}

.swiper-pagination {

    .swiper-pagination-bullet {
        background: #fff;
        @include dimension(13px, 13px);

        &:not(.swiper-pagination-bullet-active) {
            border: 2px solid #fff;
            background: none;
            opacity: 0.3;
        }
    }
}