* {
    margin: 0px;
    padding: 0px;
}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1480px;
    }
}


[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.bg_green {
    background-color: $green;
}

.bg_green2 {
    background-color: $green2;
}

.bg_green3 {
    background-color: $green3;
}

.bg_green_light {
    background-color: $green_light;
}

.bg_green_dark {
    background-color: $green_dark;
}

.bg_green_off {
    background-color: $green_off;
}

.bg_purple {
    background-color: $purple;
}

.bg_purple_light {
    background-color: $purple_light;
}

.bg_sky {
    background-color: $sky;
}

.bg_sky2 {
    background-color: $sky2;
}

.bg_sky_light {
    background-color: $sky_light;
}

.bg_pink {
    background-color: $pink;
}

.bg_orange {
    background-color: $orange;
}

.bg_orange_light {
    background-color: $orange_light;
}

.bg_peach {
    background-color: $peach;
}

.bg_peach_light {
    background-color: $peach_light;
}

.bg_peach_dark {
    background-color: $peach_dark;
}

.bg_blue {
    background-color: $blue;
}

.bg_blue_dark {
    background-color: $blue_dark;
}

.chip {
    border: 4px solid $black;
    border-radius: 20px;
    padding: 10px 2px;
    box-shadow: rgba(0, 0, 0, 4.15) 4px 4px 0.6px;
    text-align: center;
    color: #000;
}

.btn {
    position: relative;
    font-family: $font_primary_variable;
    font-weight: 600;
    text-transform: uppercase;
    color: $black;
    @include padding-y(0.67rem, 0.67rem);

    &.border_btn {
        border: 1px solid $black;
    }

    &.plane_btn {

        &::after {
            @include pseudo($content: "", $top: -20px, $left: auto, $width: 40px, $height: 100%);
            right: 50px;
            background-image: url(../images/plane-colored-2.svg);
            background-repeat: no-repeat;
            background-size: contain;
            filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.5));
        }
    }

    &.diamond_btn {
        @include padding-x(2.2rem, 2.2rem);

        &::after {
            @include pseudo($content: "", $top: -15px, $left: auto, $width: 26px, $height: 100%);
            right: 90px;
            background-image: url(../images/diamond.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.cp {
    @include padding-y(7rem, 7rem)
}

.divider {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.5);
}

h2.title_h2 {
    color: #1e1b15;
    font-size: 40px;
    font-weight: 600;

    @include devices(xl) {
        font-size: 2rem;
    }

    @include devices(sm) {
        font-size: 1.7rem;
    }
}

.site-title {
    color: #1e1b15;
    font-size: 40px;
    font-weight: bold;

    @include devices(sm) {
        font-size: 30px;
    }

    @include devices(xs) {
        font-size: 1.7rem;
    }
}

.social_links {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2rem;

    @include devices(xl) {
        padding-bottom: 1.5rem;
        gap: 1.5rem;
    }

    a {
        transition: transform 0.3s;

        img {
            width: 40px;

            @include devices(xl) {
                width: 30px;
            }

            @include devices(xs) {
                width: 26px;
            }
        }

        &:hover {
            transform: translateY(-4px);
        }
    }
}

.overflow_hide {
    overflow: hidden;
}

.services-template {
    background-image: url(../images/abstract.jpg);
    @include bg-cover();
}

.services-left_block {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .logo_img {
        @include dimension(190px, auto);
        margin-left: 10rem;
        margin-top: 2rem;
        position: relative;
        z-index: 1;

        a {
            display: block;

            img {
                @include img-fit();
            }
        }

    }

    .menu_btn {
        @include dimension(50px, 50px);
    }
}

.swiper {
    width: 100%;
    height: auto;
    user-select: none;
}

.swiper-pagination {

    .swiper-pagination-bullet {
        background: #fff;
        @include dimension(13px, 13px);

        &:not(.swiper-pagination-bullet-active) {
            border: 2px solid #fff;
            background: none;
            opacity: 0.3;
        }
    }
}