html {
    font-size: 16px;
}

html,
body {
    font-family: $font_primary;
    overflow-x: hidden;
    letter-spacing: 0.6px;
}

img {
    max-width: 100%;
    height: auto;
}

img,
svg {
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: $font_primary;
}

button {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

ul {
    list-style-type: none;
}

dl,
ol,
ul {
    margin-bottom: 0;
    padding-left: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin-bottom: 0;
}

p {
    font-family: $font_primary_variable;
    font-weight: 500;
}