#case_studies {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(../images/abstract.jpg);
    @include bg-cover();

    @include devices(lg) {
        height: unset;
    }

    .case_studies_content {
        display: flex;
        height: 90%;

        @include devices(lg) {
            flex-direction: column;
            height: unset;
        }

        .case_studies_txt {
            padding: 50px 50px 0px 50px;
            width: 50%;
            color: white;

            @include devices(xl) {
                padding: 40px 40px 5px 40px;
            }

            @include devices(lg) {
                padding: 31px;
                padding-bottom: 3rem;
            }

            @include devices(lg) {
                width: 100%;
            }

            @include devices(md) {
                padding-top: 5rem;
                padding-bottom: 5rem;
            }

            @include devices(sm) {
                @include padding-x(0.9rem, 0.9rem);
            }

            .case_studies_heading {
                font-size: 4rem;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.2;
                margin-top: 10rem;

                @include devices(xl) {
                    font-size: 45px;
                    line-height: 42px;
                    margin-top: 5.2rem;
                    margin-top: 8rem;
                    padding: 0px;
                }

                @include devices(lg) {
                    font-size: 48px;
                    line-height: 54px;
                }

                @include devices(md) {
                    font-size: 49px;
                    margin-top: 6rem;
                    line-height: 58px;
                }

                @include devices(sm) {
                    text-align: unset;
                }

                @include devices(xs) {
                    font-size: 36px;
                    margin-top: 7rem;
                    line-height: 40px;
                }
            }

            .circular_div_section {
                display: flex;
                justify-content: center;
                gap: 20px;
                padding: 0px 10px 0px 10px;

                @include devices(xl) {
                    gap: 10px;
                }

                @include devices(lg) {
                    justify-content: flex-start;
                }

                @include devices(md) {
                    justify-content: center;
                }

                div {
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    border: 2.4px solid black;
                    @include margin-y(1.1rem, 1.1rem);

                    @include devices(xl) {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        border: 2.5px solid black;
                    }

                    @include devices(lg) {
                        height: 23px;
                        width: 23px;
                    }

                    @include devices(md) {
                        height: 30px;
                        width: 30px;
                        border-width: 3.4px;
                    }

                    @include devices(sm) {
                        height: 25px;
                        width: 25px;
                        border-width: 3.1px;
                        @include margin-y(1.7rem, 1.7rem);
                    }
                }
            }

            .case_studies_paragraph {

                @include devices(xl) {
                    padding: 0;
                }

                @include devices(xs) {
                    padding: 0px;
                }

                p {
                    font-weight: 400;
                    font-size: 1.2rem;
                    padding-right: 50px;
                    line-height: 1.4;

                    &:first-child {
                        margin-top: 2.2rem;
                        margin-bottom: 1.4rem;
                    }

                    @include devices(xl) {
                        font-size: 0.95rem;
                        padding-right: 0px;
                        line-height: 18px;
                        margin-bottom: 0.9rem;
                    }

                    @include devices(lg) {
                        font-size: 1rem;
                        line-height: 24px;
                        padding-right: 0px;
                        margin-bottom: 1rem;
                    }

                    @include devices(md) {
                        font-size: 1.2rem;
                        line-height: 22px;
                        text-align: justify;
                        padding-right: 0px;
                        margin-bottom: 1.5rem;
                    }

                    @include devices(sm) {
                        line-height: 19px;
                    }

                    @include devices(xs) {
                        margin-bottom: 1rem;
                        text-align: left;
                    }
                }
            }

            hr {
                display: block;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                margin-left: auto;
                margin-right: auto;
                border-style: dashed;
                border-width: 1px;
                border-color: grey;
            }

            .experience {


                p {
                    &:first-child {
                        font-size: 1rem;
                        margin-top: 3%;
                        letter-spacing: 0.015rem;
                        text-transform: capitalize;
                        font-weight: lighter;

                        @include devices(xl) {
                            font-size: 0.9rem;
                            margin-top: 2%;
                        }

                        @include devices(xs) {
                            font-size: 0.8rem;
                        }
                    }

                    &:last-child {
                        text-transform: uppercase;
                        margin-top: 13px;
                        line-height: 20px;
                        letter-spacing: 0.01rem;
                        font-size: 0.95rem;

                        @include devices(xl) {
                            margin-top: 10px;
                            line-height: 16px;
                            letter-spacing: 0.01rem;
                            font-size: 0.75rem;
                        }

                        @include devices(lg) {
                            font-size: 0.8rem;
                        }

                        @include devices(xs) {
                            font-size: 0.7rem;
                        }

                        span {
                            text-transform: none !important;
                        }
                    }
                }
            }

            .case_studies_btn_grid {
                margin-top: 4rem;

                @include devices(md) {
                    display: flex;
                    gap: 2rem;
                    margin-top: 3rem;
                }

                @include devices(xs) {
                    margin-top: 1.5rem;
                }

                .diamond_btn {
                    margin-right: 3rem;

                    @include devices(xl) {
                        margin-right: 1.8rem;
                    }

                    @include devices(lg) {
                        margin-right: 0.7rem;
                    }

                    @include devices(md) {
                        margin-right: 0;
                    }
                }
            }

            .social_icons {
                margin-top: 2rem;
            }
        }

        .image_grid {
            width: 50%;
            display: grid;
            @include grid-cols(2, 1fr, 0);

            @include devices(lg) {
                width: 100%;
            }

            @include devices(sm) {
                grid-template-columns: auto;
            }

            #img1 {
                grid-column: span 2;
            }

            .image {
                position: relative;
                overflow: hidden;

                &:hover .hide {
                    display: block;
                    opacity: 1;

                    @include devices(lg) {
                        display: none;
                    }
                }

                .img_wrapper {
                    @include dimension(100%, 100%);
                    border: 2px solid black;
                    cursor: pointer;
                    overflow: hidden;

                    img {
                        @include img-fit();
                    }
                }

                .show_on_hover {
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    width: 100%;
                    text-transform: uppercase;
                    transition: opacity .5s ease-in-out;
                    -moz-transition: opacity .5s ease-in-out;
                    -webkit-transition: opacity .5s ease-in-out;

                    div {
                        padding: 20px;
                        width: 90%;
                        margin: auto;
                        border: 2px solid white;
                        background-color: white;
                        font-size: 0.9rem;

                        @include devices(xl) {
                            padding: 11px;
                        }

                        @include devices(lg) {
                            width: 74%;
                        }

                        @include devices(md) {
                            width: 90%;
                        }

                        @include devices(xs) {
                            line-height: 15px;
                        }

                        h3 {
                            font-size: 1.4rem;
                            font-weight: bold;

                            @include devices(xl) {
                                font-size: 1rem;
                            }

                            @include devices(sm) {
                                font-size: 17px;
                            }
                        }

                        p {
                            font-size: 1.2rem;

                            @include devices(xl) {
                                font-size: 1rem;
                            }

                            @include devices(sm) {
                                font-size: 0.75rem;
                            }
                        }
                    }
                }

                .hide {
                    display: none;

                    @include devices(lg) {
                        display: block;
                    }
                }

            }
        }
    }

    #brands {
        height: 10%;
        @include padding-y(0, 0);
        display: grid;
        place-items: center;

        @include devices(lg) {
            height: unset;
            @include padding-y(1rem, 1rem);
        }
    }
}

.clr {
    color: white;

    &::after {
        @include devices(md) {
            font-size: 25px;
        }

        @include devices(sm) {
            font-size: 19px;
        }
    }

    @include devices(sm) {
        top: 37%;
    }
}

.fade_In {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1015;
    background-color: black;

}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: transparent;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


.overflow {
    overflow: hidden;
}

.case_studies-right_bottom {
    height: 174px;
    background-color: #f7f8fb;
}

#modals {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1005;
    overflow: hidden;
    animation: zoom-in-zoom-out .3s ease-out;

    @include devices(md) {
        height: 100%;
        overflow-y: auto;
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.8, 0.8);
    }

    50% {
        transform: scale(0.9, 0.9);
    }

    100% {
        transform: scale(1, 1);
    }
}