#features {
    position: relative;
    padding-top: 9rem;

    &::after {
        @include pseudo("", 145px, auto, 25%, 35%);
        right: -50px;
        background-image: url(../images/section3-line.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotateY(180deg);

        @include devices(xs) {
            display: none;
        }
    }

    .bg-img {
        pointer-events: none;

        img {
            position: absolute;

            &:first-child {
                top: 100px;
                left: -131px;
            }

            &:last-child {
                bottom: -160px;
                right: -100px;
            }
        }
    }

    .semi-font-text {
        width: 100%;
        margin-bottom: 0;
        margin-top: 0.9rem;

        @include devices(xs) {
            font-size: 0.9rem;
        }

        br {
            @include devices(xs) {
                display: none;
            }
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.features-row {
    margin-top: 6rem;
    align-items: center;

    @include devices(md) {
        gap: 4rem;
    }

    @include devices(xs) {
        margin-top: 3.3rem;
    }
}

.features-text {
    .accordion-button {
        position: relative;
        font-family: $font_primary_variable;
        font-size: 1.5rem;
        font-weight: 600;
        box-shadow: none !important;

        // &::before {
        //     @include pseudo("", 0, 0, 60px, 100%);
        //     background-image: url(../images/arrow-right.png);
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     left: -150px;
        //     border-bottom: 12px solid $green;
        //     padding-bottom: 2rem;
        // }

        &::after {
            display: none;
        }
    }

    .accordion-button:focus {
        box-shadow: none !important;
    }

    .accordion-button:not(.collapsed) {
        color: #000000;
        background-color: transparent;
        position: relative;

        &::before {
            @include pseudo("", 20px, 0, 60px, 100%);
            background-image: url(../images/arrow-right.png);
            background-repeat: no-repeat;
            background-size: contain;
            left: -150px;
            border-bottom: 12px solid $green;
        }
    }

    .accordion-item {
        background-color: #fff;
        border: none;
        margin-bottom: 0.5rem;
    }

    .accordion-body {
        padding-top: 0;
    }
}