#opportunities {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(../images/abstract.jpg);
    @include bg-cover();

    @include devices(md) {
        height: unset;
        min-height: 100vh;
        background-position: unset;
    }
}

.opportunities_block {
    color: #ffffff;
    height: 100%;
    @include centered();

    @include devices(md) {
        display: block;
    }
}

.opportunities_content {
    margin-top: 7rem;

    @include devices(md) {
        margin-top: 0;
        padding-top: 12rem;
        padding-bottom: 3rem;
    }

    @include devices(xs) {
        padding-top: 8rem;
        padding-bottom: 2rem;
    }

    .title {

        h2 {
            font-size: 3.2rem;
            font-weight: 600;
            position: relative;

            @include devices(xl) {
                font-size: 2.2rem;
            }

            &::after {
                @include pseudo("", -80px, 480px, 480px, 100px);
                background-image: url(../images/oppor-plane.svg);
                background-repeat: no-repeat;
                background-size: contain;

                @include devices(xl) {
                    width: 370px;
                    top: -60px;
                    left: 320px;
                }

                @include devices(md) {
                    display: none;
                }
            }
        }

        h3 {
            font-style: italic;
            color: $pink;
            font-size: 1.6rem;

            @include devices(xl) {
                font-size: 1.2rem;
            }
        }

        .mid_content {
            // display: flex;
            // align-items: center;
            // gap: 2rem;

            .divider {
                width: 70%;
                height: 4px;
                background-color: #fff;
                border-radius: 10px;
                @include margin-y(0.4rem, 0.9rem);

                @include devices(md) {
                    width: 100%;
                }
            }
        }
    }

    .filterBtn_wrapper {
        margin-top: 1.5rem;
    }

    .social_icons {
        justify-content: flex-end;
        margin-top: 1.5rem;

        @include devices(md) {
            justify-content: center;
            margin-top: 4rem;
        }
    }
}

.opportunities_row {
    margin-top: 4rem;

    @include devices(xl) {
        margin-top: 3rem;
    }

    .left_col {
        .box {

            h5 {
                text-decoration: underline;
                font-size: 1.3rem;
                color: $pink;

                @include devices(xl) {
                    font-size: 1rem;
                }
            }

            p {
                @include margin-y(1.2rem, 1.5rem);
                font-weight: 400;
                font-size: 1rem;

                @include devices(xl) {
                    font-size: 0.85rem;
                }
            }

            ul {
                li {
                    font-size: 1.05rem;
                    font-weight: 500;

                    @include devices(xl) {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }

    .right_col {
        margin-left: auto;

        .box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .img_wrapper {
                height: 300px;
                border-radius: 8px;
                overflow: hidden;

                @include devices(xl) {
                    height: 250px;
                }

                img {
                    @include img-fit();
                }
            }

        }
    }
}