#opportunities {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(../images/abstract.jpg);
    @include bg-cover();
    color: #fff;

    @include devices(md) {
        height: unset;
    }
}

.opportunities_content {
    margin-top: 10rem;

    .title {

        h2 {
            font-size: 4rem;
            font-weight: 600;
            position: relative;

            &::after {
                @include pseudo("", -110px, 580px, 600px, 600px);
                background-image: url(../images/oppor-plane.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        h3 {
            font-style: italic;
            color: $pink;
            font-size: 2rem;
        }

        .mid_content {
            display: flex;
            align-items: center;
            gap: 2rem;

            .divider {
                width: 70%;
                height: 4px;
                background-color: #fff;
                border-radius: 10px;
            }
        }
    }
}

.opportunities_row {
    margin-top: 4rem;

    .left_col {
        .box {
            margin-left: 3rem;

            h5 {
                text-decoration: underline;
                font-size: 1.4rem;
                color: $pink;
            }

            p {
                @include margin-y(1.8rem, 1.8rem);
                font-weight: 400;
                font-size: 1.1rem;
            }

            ul {
                li {
                    font-size: 1.1rem;
                    font-weight: 500;
                }
            }
        }
    }

    .right_col {
        margin-top: 5rem;
        @include mx-auto();

        .box {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            button {
                font-size: 1.4rem;
                font-weight: 600;
                border-radius: 18px;
            }
        }
    }
}