#ready {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 5rem;

    .site-upercase-title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;

        @include devices(xl) {
            font-size: 35px;
            margin-bottom: 1.5rem;
        }

        @include devices(xs) {
            font-size: 30px;
            margin-bottom: 1.2rem;
        }
    }

    p {
        font-size: 1.14rem;

        @include devices(md) {
            font-size: 1.5rem;
        }

        @include devices(xs) {
            font-size: 0.9rem;
        }

        span {
            color: $pink;
        }
    }

    .stars {
        display: flex;
        gap: 1.6rem;
        justify-content: center;
        margin-top: 2.5rem;

        img {
            width: 32px;
            filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.4));

            @include devices(xl) {
                width: 26px;
                margin-top: 2.3rem;
            }

            @include devices(md) {
                width: 32px;
            }

            @include devices(xs) {
                width: 22px;
                margin-top: 2rem;
            }
        }
    }
}