.services_sect {
    color: #fff;
    background-image: url(../images/section_2.svg);
    position: relative;
    z-index: 1;
    margin-top: -340px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 9rem;
    padding-bottom: 0;
    background-position-x: -30px;

    @include devices(xl) {
        padding-top: 6.2rem;
    }

    @include devices(lg) {
        background-position-x: -60px;
    }

    @include devices(sm) {
        padding-top: 3rem;
        background-position-x: -280px;
    }

    &::after {
        @include pseudo("", 0, 15%, 90px, 62px);
        background-image: url(../images/plane-colored-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        @include margin-y(-31px, -31px);

        @include devices(xl) {
            @include dimension(70px, 48px);
            @include margin-y(-24px, -24px);
        }

        @include devices(lg) {
            @include dimension(50px, 34px);
            @include margin-y(-10px, -10px);
        }

        @include devices(md) {
            @include dimension(70px, 48px);
            @include margin-y(-24px, -24px);
            left: 22%;
        }

        @include devices(sm) {
            display: none;
        }
    }

    // &::before {
    //     @include pseudo("", auto, 0, 100%, 300px);
    //     bottom: 50px;
    //     background-image: url(../images/section2-line.svg);
    //     background-repeat: no-repeat;
    //     background-size: contain;

    //     @include devices(md) {
    //         top: 360px;
    //     }
    // }
}

.services_head {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-left: 5rem;

    @include devices(xl) {
        gap: 3rem;
    }

    @include devices(lg) {
        padding-left: 2rem;
    }

    @include devices(sm) {
        padding-left: 0;
        flex-direction: column;
    }

    .left_col {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        @include devices(sm) {
            flex-direction: column;
        }

        div {
            &:first-child {
                text-align: center;
            }
        }

        img {
            width: 16px;
            display: inline-block;
            @include margin-y(1rem, 2rem);

            @include devices(xl) {
                width: 13px;
            }
        }

        p {
            font-weight: 300;
            letter-spacing: 1px;
            font-size: 1.1rem;

            @include devices(xl) {
                font-size: 0.85rem;
            }

            a {
                text-decoration: underline;
                font-weight: inherit;
                color: $green3;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }
        }

        h4 {
            line-height: 1.5;
            text-align: center;

            @include devices(xl) {
                font-size: 1.2rem;
            }
        }
    }

    .right_col {
        h3 {
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 0.3rem;
            display: flex;
            align-items: center;
            gap: 0.8rem;

            @include devices(xl) {
                font-size: 2rem;
            }

            @include devices(sm) {
                justify-content: center;
            }
        }

        p {
            font-size: 1.1rem;
            font-weight: 400;

            @include devices(xl) {
                font-size: 0.875rem;
            }

            @include devices(sm) {
                text-align: center;
            }
        }
    }

    .mid_col {
        @include devices(sm) {
            display: none;
        }
    }

}

.services_box {
    margin-top: 7rem;

    @include devices(xl) {
        margin-top: 4rem;
    }

    .box {
        position: relative;
        border-radius: 30px;
        padding: 6rem 3rem 4rem;
        overflow: hidden;

        &::before {
            @include pseudo("", 0, 0, 100%, 100%);
            background-image: url(../images/services.jpg);
            filter: brightness(20%);
            @include bg-cover();
        }

        // .services-swiper {
        //     .swiper-pagination {
        //         width: auto;
        //         top: 70px;
        //         left: 36%;
        //         bottom: auto;
        //     }

        //     .swiper-button-next {
        //         width: fit-content;
        //         height: auto;
        //         margin: 0;
        //         top: 52px;
        //         left: 45%;
        //         display: inline-block;
        //         font-size: 2rem;
        //         color: #fff;

        //         &::after {
        //             content: '';
        //             line-height: unset;
        //             font-size: unset;
        //         }
        //     }
        // }

        .left_col {
            display: grid;
            gap: 2rem;
            @include padding-x(2.6rem, 2.6rem);

            .chip {
                @include padding-y(1rem, 1rem);

                h6 {
                    font-size: 1.2rem;
                }
            }
        }

        .right_col {
            align-self: flex-end;

            h5 {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 0.8rem;
            }

            p {
                font-weight: 500;
            }
        }
    }
}

.services-swiper {
    padding-top: 5rem;
    padding-bottom: 4rem;

    .swiper-wrapper {
        transition-timing-function: linear !important;
        position: relative;
    }

    .swiper-slide {
        width: 350px;
        height: 400px;
        position: relative;
        overflow: hidden;
        border-radius: 15px;

        img {
            @include img-fit();
        }
    }
}