.services_sect {
    color: #fff;
    background-image: url(../images/section_2.svg);
    position: relative;
    z-index: 1;
    margin-top: -340px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 9rem;
    padding-bottom: 0;

    @include devices(lg) {
        background-image: url(../images/section_2.svg);
        background-size: cover;
        background-position: center;
    }

    @include devices(xs) {
        padding-top: 5rem;
    }

    &::after {
        @include pseudo("", -25px, 15%, 90px, 90px);
        background-image: url(../images/plane.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateX(-50%);

        @include devices(xl) {
            @include dimension(70px, 70px);
        }

        @include devices(md) {
            top: 6%;
        }
    }

    &::before {
        @include pseudo("", auto, 0, 100%, 300px);
        bottom: 50px;
        background-image: url(../images/section2-line.svg);
        background-repeat: no-repeat;
        background-size: contain;

        @include devices(md) {
            top: 360px;
        }
    }
}

.services_head {
    display: flex;
    align-items: center;
    gap: 4rem;

    h4 {
        line-height: 1.5;
        position: relative;

        &::before {
            @include pseudo("", auto, -60px, 20px, 42px);
            bottom: 10px;
            background-image: url(../images/arrow-down.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 400;
    }
}

.services_box {
    margin-top: 9rem;

    .box {
        position: relative;
        border-radius: 30px;
        padding: 6rem 3rem 4rem;
        overflow: hidden;

        &::before {
            @include pseudo("", 0, 0, 100%, 100%);
            background-image: url(../images/services.jpg);
            filter: brightness(20%);
            @include bg-cover();
        }

        .services-swiper {
            .swiper-pagination {
                width: auto;
                top: 70px;
                left: 36%;
                bottom: auto;
            }

            .swiper-button-next {
                width: fit-content;
                height: auto;
                margin: 0;
                top: 52px;
                left: 45%;
                display: inline-block;
                font-size: 2rem;
                color: #fff;

                &::after {
                    content: '';
                    line-height: unset;
                    font-size: unset;
                }
            }
        }

        .left_col {
            display: grid;
            gap: 2rem;
            @include padding-x(2.6rem, 2.6rem);

            .chip {
                @include padding-y(1rem, 1rem);

                h6 {
                    font-size: 1.2rem;
                }
            }
        }

        .right_col {
            align-self: flex-end;

            h5 {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 0.8rem;
            }

            p {
                font-weight: 500;
            }
        }
    }
}